.nav {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  line-height: 60px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
  transition: all .5s linear;

  li {
    color: #666 !important;
    cursor: pointer;
    margin: 0 14px;
    &:hover {
      color: rgb(230, 217, 113) !important;
    }
  }

  .active {
    color: rgb(230, 217, 113) !important;
  }
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}
